
# Try niyo lang eto gumawa kayo sa sarili ng supabase and ai studio keys 

# Eto yung mga websites
# supabase.com 
# https://aistudio.google.com/app/apikey 

#define SUPABASE_HOST "YOUR_PROJECT_REF.supabase.co"
#define SUPABASE_ANON_KEY "YOUR_SUPABASE_ANON_KEY"
#define DEVICE_ID "agrisense-001"
